@{
    ViewData["Title"] = "Dashboard";
}

@model IEnumerable<ToDo>
  
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="widget chart" >
                <div class="p-4">
                    <h5 class="fw-bold">Filter</h5>
                </div>
                <form asp-controller="ToDo" asp-action="Filter" method="Post" class="form p-3">
                    <div class="mb-3">
                        <label class="form-label">Category: </label>
                        <select name="filter" class="form-select" asp-items='@(new SelectList(ViewBag.Categories, "CategoryId", "Name", ViewBag.Filters.CategoryId))'>
                            <option value="all">All</option>
                        </select>
                    </div>
                     <div class="mb-3">
                        <label class="form-label">Due: </label>
                        <select name="filter" class="form-select" asp-items='@(new SelectList(ViewBag.DueFilters, "Key", "Value", ViewBag.Filters.Due))'>
                            <option value="all">All</option> 
                        </select>
                    </div>
                     <div class="mb-3">
                        <label class="form-label">Status: </label>
                        <select name="filter" class="form-select" asp-items='@(new SelectList(ViewBag.Status, "StatusId", "Name", ViewBag.Filters.StatusId))'>
                            <option value="all">All</option> 
                        </select>
                        
                    </div>
                    <div class="mb-1">
                       <div class="row">
                        <div class="col-md-6">
                             <button type="submit" class="btn btn-primary">Filter</button>
                        </div>
                         <div class="col-md-6 text-end">
                             <a asp-action="Index" asp-route-id="" class="btn btn-warning">Clear</a>
                        </div>
                       </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="widget chart">
                <div class="p-4">
                    <h5 class="fw-bold">Widget </h5>
                </div>
                <div class="table-responsive">
                  
                        <table class="table table-striped table-inverse" id="todoTable">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>Description</th>
                                    <th>Category</th>
                                    <th>Due Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (ToDo task in Model)
                                {
                                        string overdue = task.OverDue ? "bg-warning" : "bg-success";
                                        string closed = task.Status.StatusId == "closed" ? "bg-danger" : overdue;
                                    <tr>
                                        <td scope="row">@task.Description</td>
                                        <td>@task.Category.Name</td>
                                        <td class="@closed">@task.DueDate</td>
                                        <td class="@closed">@task.Status.Name</td>
                                        <td>
                                            @if (@task.StatusId == "open")
                                            {
                                            <form asp-controller="ToDo" asp-action="MarkComplete" method="post" asp-route-id="@ViewBag.Filters.FilterString">
                                                <button type="submit" class="btn btn-primary btn-sm" name="@nameof(ToDo.Id)" value="@task.Id">Mark Completed</button>
                                            </form>
                                            }
                                        </td>
                                    </tr>
                                }
                                    
                                </tbody>
                        </table>
                    <hr/>
                </div>
                 <div class="row mb-3 p-2">
                        <div class="col-md-6">
                            <a asp-controller="ToDo" asp-action="Create" class="btn btn-outline-primary">Create New Task</a>
                        </div>
                        <div class="col-md-6 text-end">
                             <form asp-controller="ToDo" asp-action="DeleteComplete" method="post" asp-route-id="@ViewBag.Filters.FilterString">
                                <button type="submit" class="btn btn-outline-danger text-end">Delete Completed</button>
                            </form>
                        </div>
                    </div>
              
            </div>
           
        </div>
    </div>
 
@section Scripts {
   <script>
     $(function(){
        $('#todoTable').DataTable();
            
           
     })
   </script>
}